{% include base_path %}

<div class="custom">
	<div class="social-icons">
    {% if site.facebook.username %}
	<a href="https://www.facebook.com/{{ site.facebook.username }}" title="Facebook"><i class="nico-facebook"></i></a>
	{% endif %}
	{% if site.twitter.username %}
	<a href="https://twitter.com/{{ site.twitter.username }}" title="Twitter"><i class="nico-twitter"></i></a>
	{% endif %}
	{% if site.linkedin.url %}	
	<a href="{{ site.linkedin.url }}" title="LinkedIn"><i class="nico-linkedin"></i></a>
	{% endif %}
	{% if site.google_plus.profile_id %}
	<a href="https://plus.google.com/{{ site.google_plus.profile_id }}" title="Google+"><i class="nico-google-plus"></i></a>
	{% endif %}
</div></div>